@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.stage {
  width: 480px;
  height: 640px;
  border: 1px solid #bbb;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  background: #fff;
  background-image: -moz-linear-gradient(45deg, #BBB 25%, transparent 25%), -moz-linear-gradient(-45deg, #BBB 25%, transparent 25%), -moz-linear-gradient(45deg, transparent 75%, #BBB 75%), -moz-linear-gradient(-45deg, transparent 75%, #BBB 75%);
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.26, #BBB), color-stop(0.26, transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.26, #BBB), color-stop(0.26, transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.76, transparent), color-stop(0.76, #BBB)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.76, transparent), color-stop(0.76, #BBB));
  background-size: 64px 64px;
  -webkit-background-size: 64px 64px;
  background-position: 0 0, 32px 0, 32px -32px, 0px 32px;
}

.mino {
  position: absolute;
}

.mino .tile {
  position: absolute;
  width: 32px;
  height: 32px;
}

.mino[data-kind="0"] .tile {
  background: url("/img/mino.png"), #008eff;
  background-blend-mode: multiply;
  background-size: cover;
}

.mino[data-kind="1"] .tile {
  background: url("/img/mino.png"), #00ff94;
  background-blend-mode: multiply;
  background-size: cover;
}

.mino[data-kind="2"] .tile {
  background: url("/img/mino.png"), #f1ff00;
  background-blend-mode: multiply;
  background-size: cover;
}

.mino[data-kind="3"] .tile {
  background: url("/img/mino.png"), #ff1818;
  background-blend-mode: multiply;
  background-size: cover;
}

.mino[data-kind="4"] .tile {
  background: url("/img/mino.png"), #ff00f9;
  background-blend-mode: multiply;
  background-size: cover;
}

.mino[data-kind="5"] .tile {
  background: url("/img/mino.png"), #bf00ff;
  background-blend-mode: multiply;
  background-size: cover;
}

.mino[data-kind="6"] .tile {
  background: url("/img/mino.png"), #bf00ff;
  background-blend-mode: multiply;
  background-size: cover;
}

.onboardtiles {
  position: absolute;
}

.onboardtiles .tile {
  position: absolute;
  width: 32px;
  height: 32px;
}

.onboardtiles .tile[data-kind="0"] {
  background: url("/img/mino.png"), #008eff;
  background-blend-mode: multiply;
  background-size: cover;
}

.onboardtiles .tile[data-kind="1"] {
  background: url("/img/mino.png"), #00ff94;
  background-blend-mode: multiply;
  background-size: cover;
}

.onboardtiles .tile[data-kind="2"] {
  background: url("/img/mino.png"), #f1ff00;
  background-blend-mode: multiply;
  background-size: cover;
}

.onboardtiles .tile[data-kind="3"] {
  background: url("/img/mino.png"), #ff1818;
  background-blend-mode: multiply;
  background-size: cover;
}

.onboardtiles .tile[data-kind="4"] {
  background: url("/img/mino.png"), #ff00f9;
  background-blend-mode: multiply;
  background-size: cover;
}

.onboardtiles .tile[data-kind="5"] {
  background: url("/img/mino.png"), #bf00ff;
  background-blend-mode: multiply;
  background-size: cover;
}

.onboardtiles .tile[data-kind="6"] {
  background: url("/img/mino.png"), #bf00ff;
  background-blend-mode: multiply;
  background-size: cover;
}

.pulse {
  -webkit-animation: pulse 200ms infinite;
          animation: pulse 200ms infinite;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0.8;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.8;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0.8;
  }
}

.content.is-dark,
.content.is-dark .title {
  color: #f5f5f5;
}

.content .key-tag {
  height: 1rem;
  font-size: 0.75rem;
  width: 3rem;
}

